*.pyc
/java/palitsa/nbproject/private/
/java/palitsa/build/
/java/palitsa/dist/
/javaport/palitsa_core/nbproject/private/
/javaport/thirdparty/*.jar

/javaport/palitsa_core/build/
/javaport/palitsa_core/dist/